/* write your override styles here */
/* Remove tag 1*/
#wall .tag-1 {
  display: none;
}
/* Remove tag 2*/

#wall .tag-2 {
  display: none;
}


/* Remove tag 3*/
#wall .tag-3 { 
  display: none;
}
/* Remove tag 4*/

#wall .tag-4 {
  display: none;
}
/* Remove tag 5*/

#wall .tag-5 {
  display: none;
}

/* Remove tag 6*/
#wall .tag-6 {
  display: none;
}

/* Remove tag 7*/
#wall .tag-7 {
  display: none;
}